@import '../../variables';

.okr-list {
    padding: 8px 0;

    .clear-filter {
        display: inline-block;
        margin: 0 8px;
        cursor: pointer;
        background-color: $color-1;
        border: 1px solid $black;
        padding: 8px;

        &::before {
            content: 'x';
            display: inline-block;
            padding-right: 8px;
        }
    }

    .okr-filters {
        padding: 8px;

        .filter-item {
            display: inline-block;
            cursor: pointer;
            padding: 8px;
            margin-right: 8px;
            background-color: $white;
            color: $color-2;

            &.active {
                background-color: $color-2;
                color: $white;
            }
        }
    }
}