@import '../../variables';

.okr-accordion {
    position: relative;
    padding: 8px;
    margin: 8px;
    width: 750px;
    background-color: $white;

    &.open {
        .title {
            &::before {
                transform: rotate(90deg);
            }
        }

        .children {
            display: block;
        }
    }

    .title {
        cursor: pointer;
        position: relative;
        padding-left: 8px;

        .counter {
            color: $color-1;
            padding-left: 16px;
        }

        .name {
            padding-left: 8px;
        }
        
        &::before {
            content: '\f0da';
            font-family: 'FontAwesome';
            display: inline-block;
            // padding-right: 8px;
            color: $color-1;
            transition: transform 100ms linear;
            position: absolute;
        }
    }

    .children {
        display: none;
        text-indent: 24px;
        counter-reset: listStyle;
        margin-top: 16px;
        margin-left: 24px;
        border-left: 1px solid $color-1;

        .item {
            counter-increment: listStyle;
            padding: 16px;
            position: relative;

            &::before {
                display: inline-block;
                padding-right: 8px;
                content: counter(listStyle, lower-alpha) ".";
                color: $color-1;
            }

            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                border-bottom: 1px solid $color-1;
                top: 25px;
                left: 0px;
                width: 40px;
            }
        }
    }
}